@model MediaLibraryWebUI.Models.PlaylistViewModel

@{
    ViewBag.Title = "Playlist";
}

<h2>@(Model.SelectedPlaylist.Name) playlist</h2>
<div>
    <a class="btn btn-outline-secondary" href="@(Url.Action("Index","Playlist"))"><i class="fa fa-arrow-circle-left"></i></a>
    <a class="btn btn-outline-secondary" href=""><i class="fa fa-edit"></i></a>
    <a class="btn btn-outline-danger" href="@(Url.Action("RemovePlaylist","Playlist", new { Model.SelectedPlaylist.Id }))"><i class="fa fa-trash"></i></a>
</div>

<hr />

<div class="card">
    <div class="card-header" id="heading-playlist-@(Model.SelectedPlaylist.Id)">
        <h5 class="mb-0">
            Songs
        </h5>
    </div>
    <div class="card-body">
        @if (Model.SelectedPlaylist.PlaylistTracks.Any())
        {
            <ul class="list-group list-group-flush">
                @foreach (var song in Model.SelectedPlaylist.PlaylistTracks)
                {
                    <li class="list-group-item">
                        <div class="media">
                            <img class="mr-3 track-img" src="@(Url.Content("~/Content/images/audio.png"))" title="@(song.Track.Title)">
                            <div class="media-body">
                                <h5 class="mt-0">@(song.Track.Title)</h5>
                                <span></span>
                            </div>
                            <div>
                                <button class="btn btn-outline-secondary"><i class="fa fa-play"></i></button>
                                <a class="btn btn-outline-secondary" href="@(Url.Action("RemoveTrack", "Playlist", new {  }))"><i class="fa fa-trash"></i></a>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        }
        else
        {
            <span>No songs added.</span>
        }
    </div>
</div>