@model MediaLibraryWebUI.Models.PlaylistViewModel

@{
    ViewBag.Title = "Playlist";
}

<h2>@(Model.SelectedPlaylist.Name) playlist</h2>
<div>
    <button class="btn btn-outline-secondary" onclick="backClicked()" data-toggle="tooltip" title="Go back"><i class="fa fa-arrow-circle-left"></i></button>
    <a class="btn btn-outline-secondary" href="" data-toggle="tooltip" title="Edit playlist"><i class="fa fa-edit"></i></a>
    <a class="btn btn-outline-secondary" href="@Url.Action("GetM3UPlaylist", new { Model.SelectedPlaylist.Id})"
       data-toggle="tooltip" title="Download M3U playlist"><i class="fa fa-download"></i></a>
    <button class="btn btn-outline-danger" data-delete="enabled" data-delete-action="@(Url.Action("RemovePlaylist","Playlist", new { Model.SelectedPlaylist.Id }))"
            data-toggle="tooltip" title="Delete playlist" data-delete-type="playlist">
        <i class="fa fa-trash"></i>
    </button>
</div>
<hr />
<div class="card">
    <div class="card-header" id="heading-playlist-@(Model.SelectedPlaylist.Id)">
        <h5 class="mb-0">
            Songs
        </h5>
    </div>
    <div class="card-body m-0 p-0">
        @if (Model.SelectedPlaylist.PlaylistTracks.Any())
        {
            <ul class="list-group list-group-flush">
                @foreach (var list in Model.SelectedPlaylist.PlaylistTracks)
                {
                    <li class="list-group-item">
                        <div class="media">
                            <img class="mr-3 track-img" src="@(Url.Content("~/Content/images/audio.png"))" title="@(list.Track.Title)">
                            <div class="media-body">
                                <h5 class="mt-0">@(list.Track.Title)</h5>
                                <span></span><span class="text-muted"></span>
                                <span></span>
                            </div>
                            <div>
                                <button class="btn btn-outline-secondary" data-play-url="@Url.Action("File", "Music", new { list.Track.Id })" onclick="play(this)"
                                        data-toggle="tooltip" title="Play">
                                    <i class="fa fa-play"></i>
                                </button>
                                <button class="btn btn-outline-danger" data-delete="enabled" data-delete-action="@(Url.Action("RemovePlaylistItem", "Playlist", new { list.Id, list.PlaylistId }))"
                                        data-toggle="tooltip" title="Remove song" data-delete-type="song">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        }
        else
        {
            <span>No songs added.</span>
        }
    </div>
</div>

@Html.Partial("~/Views/Shared/Modals/DeleteModal.cshtml")
@Html.Partial("~/Views/Shared/Configurations/PlaylistConfiguration.cshtml", Model.Configuration)

@section scripts {
    <script type="text/javascript" defer="defer">
        function backClicked() {
            $('#loadingModal').modal('show');
            $('#txt@(nameof(Model.Configuration.SelectedPlaylistPage))').val('@(nameof(Enums.PlaylistPages.Index))');
            updateConfiguration(() => window.location = '@(Url.Action("Index", "Playlist"))');
        }
    </script>
}