@using MediaLibraryWebUI.Models.Data

<div class="modal fade" id="modalEditSong" role="dialog" aria-labelledby="modalEditSongTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditSongTitle">Edit <span id="txtEditSongTitle">Song</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="" style="width: 75px">@(nameof(Song.Title))</span>
                    </div>
                    @Html.TextBox(nameof(Song.Title), string.Empty, new { @class = "form-control", id = $"txtEdit{nameof(Song.Title)}" })
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="" style="width: 75px">@(nameof(Song.Album))</span>
                    </div>
                    @Html.TextBox(nameof(Song.Album), string.Empty, new { @class = "form-control", id = $"txtEdit{nameof(Song.Album)}" })
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="" style="width: 75px">@(nameof(Song.Artist))</span>
                    </div>
                    @Html.TextBox(nameof(Song.Artist), string.Empty, new { @class = "form-control", id = $"txtEdit{nameof(Song.Artist)}" })
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="" style="width: 75px">@(nameof(Song.Genre))</span>
                    </div>
                    @Html.TextBox(nameof(Song.Genre), string.Empty, new { @class = "form-control", id = $"txtEdit{nameof(Song.Genre)}" })
                </div>
                @Html.Hidden(nameof(Song.Id), string.Empty, new { id = $"txtEdit{nameof(Song.Id)}" })
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" onclick="updateSong()">Update</button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" defer="defer">
    function loadEditSongModal(id) {
        var success = function (data) {
            clearEditSongModal();
            $('#txtEditSongTitle').text(data.@(nameof(Song.Title)) || 'Song')
            $('#txtEdit@(nameof(Song.Id))').val(data.@(nameof(Song.Id)));
            $('#txtEdit@(nameof(Song.Title))').val(data.@(nameof(Song.Title)));
            $('#txtEdit@(nameof(Song.Album))').val(data.@(nameof(Song.Album)));
            $('#txtEdit@(nameof(Song.Artist))').val(data.@(nameof(Song.Artist)));
            $('#txtEdit@(nameof(Song.Genre))').val(data.@(nameof(Song.Genre)));
        };

        $.get('@Url.Action("GetSong", "Music")/' + id, success);
    }

    function clearEditSongModal() {
        $('#txtEditSongTitle').text('Song')
        $('#txtEdit@(nameof(Song.Id))').val();
        $('#txtEdit@(nameof(Song.Title))').val();
        $('#txtEdit@(nameof(Song.Album))').val();
        $('#txtEdit@(nameof(Song.Artist))').val();
        $('#txtEdit@(nameof(Song.Genre))').val();
    }

    function updateSong() {
        var data = '@(nameof(Song.Id))=' + $('#txtEdit@(nameof(Song.Id))').val() + '&' +
                   '@(nameof(Song.Title))=' + encodeURIComponent($('#txtEdit@(nameof(Song.Title))').val()) + '&' +
                   '@(nameof(Song.Album))=' + encodeURIComponent($('#txtEdit@(nameof(Song.Album))').val()) + '&' +
                   '@(nameof(Song.Artist))=' + encodeURIComponent($('#txtEdit@(nameof(Song.Artist))').val()) + '&' +
                   '@(nameof(Song.Genre))=' + encodeURIComponent($('#txtEdit@(nameof(Song.Genre))').val()),
            success = function () {
                window.location = '@(Url.Action("Index", "Music"))';
            };

        $('#modalEditSong').modal('hide');
        $('#loadingModal').modal('show');
        $.post('@Url.Action("UpdateSong", "Music")', data, success);
    }

    $('#modalEditSong').on('show.bs.modal', function (e) {
        var id = $(e.relatedTarget).attr('data-item-id');

        loadEditSongModal(id);
    })
</script>