@model MediaLibraryWebUI.Models.MusicViewModel

<div class="d-flex flex-column" style="flex: 1 1 auto; overflow-y: auto">
    <div style="flex: 0 0 auto">
        <h4>Search Music</h4>
        <div class="p-1">
            <button class="btn btn-sm btn-outline-secondary" data-back-button="search" data-tooltip="tooltip" title="Go back"><i class="fa fa-arrow-circle-left"></i></button>
            <div class="float-right">
                <div class="input-group">
                    <input type="text" data-search="query" class="form-control form-control-sm" id="@(HtmlControlsRepository.SearchQueryId)"
                           required="required" minlength="3" />
                    <div class="input-group-append">
                        <button data-music-action="search-music" class="btn btn-sm btn-outline-success">
                            <i class="fa fa-search" data-searching-visible="false"></i>
                            <i class="fa fa-spinner fa-spin d-none" data-searching-visible="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div id="@(HtmlControlsRepository.SearchSongsContainerId)">@Html.Partial("~/Views/Music/Songs.cshtml", Model)</div>
        <hr />
        <div id="@(HtmlControlsRepository.SearchArtistsContainerId)">@Html.Partial("~/Views/Music/Artists.cshtml", Model)</div>
        <hr />
        <div id="@(HtmlControlsRepository.SearchAlbumsContainerId)">@Html.Partial("~/Views/Music/Albums.cshtml", Model)</div>
    </div>
</div>
