@model MediaLibraryWebUI.Models.PodcastViewModel

@{
    ViewBag.Title = "Podcasts";
}

<h2>Podcasts</h2>
<div>
    <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#modalNewPodcast"><i class="fa fa-plus" data-toggle="tooltip" title="Add podcast"></i></button>
    <div class="btn-group" role="group" data-toggle="tooltip" title="">
        <button id="btnGroupPodcastSort" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort by
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupPodcastSort">
            <a class="dropdown-item" href="@Url.Action("Sort", "Podcast", new { sort = Enums.PodcastSort.DateModified })">Date modified</a>
            <a class="dropdown-item" href="@Url.Action("Sort", "Podcast", new { sort = Enums.PodcastSort.AtoZ })">A to Z</a>
        </div>
    </div>
</div>
<hr />

@if (Model.PodcastGroups.Any())
{
    <div id="accordion-podcasts">
        @foreach (var item in Model.PodcastGroups.Select((group, index) => new { Index = index, Group = group }))
        {
            <div class="card">
                <div class="card-header" id="heading-podcasts-@(item.Index)">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-podcasts-@(item.Index)" aria-expanded="@(item.Index == 0 ? "true" : "false")" aria-controls="collapse-podcasts-@(item.Index)">
                            @(item.Group.Key)
                        </button>
                    </h5>
                </div>

                <div id="collapse-podcasts-@(item.Index)" class="collapse @(item.Index == 0 ? "show" : "")" aria-labelledby="heading-podcasts-@(item.Index)" data-parent="#accordion-podcasts">
                    <ul class="list-group list-group-flush">
                        @foreach (var podcast in item.Group)
                        {
                            <li class="list-group-item">
                                <div class="media">
                                    <img class="mr-3 track-img" src="@(Url.Content("~/Content/images/audio.png"))" title="@(podcast.Title)">
                                    <div class="media-body">
                                        <h5 class="mt-0">@(podcast.Title)</h5>
                                        <span>@(podcast.PodcastItems.Count()) episode@(podcast.PodcastItems.Count() == 1 ? string.Empty : "s")</span>
                                    </div>
                                    <div>
                                        <button class="btn btn-outline-secondary" data-toggle="tooltip" title="@(podcast.Description)" data-placement="left"
                                                data-html="true">
                                            <i class="fa fa-info-circle"></i>
                                        </button>
                                        <a class="btn btn-outline-secondary" href="@(Url.Action("Get", "Podcast", new { podcast.Id }))"
                                           data-toggle="tooltip" title="View podcast"><i class="fa fa-list"></i></a>
                                        <button class="btn btn-outline-danger" data-delete="enabled" data-delete-action="@(Url.Action("RemovePodcast", "Podcast", new { podcast.Id }))"
                                                data-toggle="tooltip" title="Delete podcast">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
    </div>
}
else
{
    <div>No podcasts.</div>
}

<div class="modal fade" id="modalNewPodcast" tabindex="-1" role="dialog" aria-labelledby="modalNewPodcastTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalNewPodcastTitle">New Podcast</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formNewPodcast" method="post" action="@Url.Action("AddPodcast", "Podcast")" on>
                    <div class="form-group">
                        <label for="txtNewPodcast">RSS feed</label>
                        <input type="text" class="form-control" id="txtNewPodcast" name="rssFeed" placeholder="RSS feed">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" onclick="addNewPodcast()">Save</button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Shared/Modals/DeleteModal.cshtml")

@section scripts {
    <script type="text/javascript">
        $('#modalNewPodcast').on('show.bs.modal', function (e) {
            $('#formNewPodcast').trigger('reset');
        });

        function addNewPodcast() {
            $('#formNewPodcast').trigger('submit');
            $('#modalNewPodcast').modal('hide');
        }
    </script>
}
