@model MediaLibraryWebUI.Models.PodcastViewModel

@{
    ViewBag.Title = "Podcast";
}

<h2>@(Model.SelectedPodcast.Title) podcast</h2>
<div>
    <a class="btn btn-outline-secondary" href="@(Url.Action("Index","Podcast"))" data-toggle="tooltip" title="Go back"><i class="fa fa-arrow-circle-left"></i></a>
    <a class="btn btn-outline-secondary" href="@(Url.Action("RefreshPodcast","Podcast", new { Model.SelectedPodcast.Id }))" data-toggle="tooltip" title="Refresh podcast"><i class="fa fa-sync"></i></a>
    <button class="btn btn-outline-danger" data-delete="enabled" data-delete-action="@(Url.Action("RemovePodcast","Podcast", new { Model.SelectedPodcast.Id }))" data-toggle="tooltip" title="Delete podcast"><i class="fa fa-trash"></i></button>
</div>

<hr />

<div class="card">
    <div class="card-header" id="heading-podcast-@(Model.SelectedPodcast.Id)">
        <h5 class="mb-0">
            Episodes
        </h5>
    </div>
    <div class="card-body m-0 p-0">
        @if (Model.SelectedPodcast.PodcastItems.Any())
        {
            <ul class="list-group list-group-flush">
                @foreach (var item in Model.SelectedPodcast.PodcastItems)
                {
                    <li class="list-group-item">
                        <div class="media">
                            <img class="mr-3 track-img" src="@(Url.Content("~/Content/images/audio.png"))" title="@(item.Title)">
                            <div class="media-body">
                                <h5 class="mt-0">@(item.Title)</h5>
                                <span></span>
                            </div>
                            <div>
                                <button class="btn btn-outline-secondary" data-toggle="tooltip" title="@(item.Description)" data-placement="left"
                                        data-html="true">
                                    <i class="fa fa-info-circle"></i>
                                </button>
                                <button class="btn btn-outline-secondary" data-play-url="@Url.Action("File","Podcast", new { item.Id })" onclick="play(this)"
                                        data-toggle="tooltip" title="Play">
                                    <i class="fa fa-play"></i>
                                </button>
                                <a class="btn btn-outline-secondary" href="@(Url.Action("DownloadPodcastItem", "Podcast", new { item.Id }))"
                                   data-toggle="tooltip" title="Download episode"><i class="fa fa-download"></i></a>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        }
        else
        {
            <span>No episodes added.</span>
        }
    </div>
</div>

@Html.Partial("~/Views/Shared/Modals/DeleteModal.cshtml")