@model MediaLibraryWebUI.Models.MusicViewModel

<div id="accordion-artists">
    @foreach (var item in Model.ArtistGroups.Select((group, index) => new { Index = index, Group = group }))
    {
        <div class="card">
            <div class="card-header" id="heading-artists-@(item.Index)">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-artists-@(item.Index)" aria-expanded="@(item.Index == 0 ? "true" : "false")" 
                            aria-controls="collapse-artists-@(item.Index)">
                        @(item.Group.Key)
                    </button>
                </h5>
            </div>

            <div id="collapse-artists-@(item.Index)" class="collapse @(item.Index == 0 ? "show" : "")" aria-labelledby="heading-artists-@(item.Index)" data-parent="#accordion-artists">
                <ul class="list-group list-group-flush">
                    @foreach (var artist in item.Group.OrderBy(a => a.Name).Where(artist => Model.Albums.Any(album => album.ArtistId == artist.Id)))
                    {
                        int count = Model.Albums.Count(album => album.ArtistId == artist.Id);
                        string txtAlbums = count == 1 ? $"{count} album" : $"{count} albums";

                    <li class="list-group-item">
                        <div class="media">
                            <img class="mr-3 track-img" src="@(Url.Content("~/Content/images/audio.png"))" title="@(artist.Name)">
                            <div class="media-body">
                                <h5 class="mt-0">@(artist.Name)</h5>
                                <span>@(Model.Albums.FirstOrDefault(album => album.ArtistId == artist.Id)?.Title ?? "Unknown Album")</span> - <span class="text-muted">@(txtAlbums)</span>
                            </div>
                            <div>
                                <a class="btn btn-outline-secondary" href="@(Url.Action("GetArtist", "Music", new { artist.Id }))"
                                   data-toggle="tooltip" title="View artist"><i class="fa fa-list"></i></a>
                                <button type="button" class="btn btn-outline-secondary" data-playlist="add" data-playlist-url="@(Url.Action("AddArtistToPlaylist", "Music"))" data-item-id="@(artist.Id)"
                                        data-toggle="modal" data-target="#modalAddToPlaylist">
                                    <i class="fa fa-plus" data-toggle="tooltip" title="Add to playlist"></i>
                                </button>
                            </div>
                        </div>
                    </li>
                    }
                </ul>
            </div>
        </div>
    }
</div>
