@model MediaLibraryWebUI.Models.MusicViewModel

@{
    ViewBag.Title = "Music";
}

<h2>Music</h2>
<ul class="nav nav-pills" id="musicTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="albums-tab" data-toggle="pill" href="#albums" role="tab" aria-controls="albums" aria-selected="true">Albums</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="artists-tab" data-toggle="pill" href="#artists" role="tab" aria-controls="artists" aria-selected="false">Artists</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="songs-tab" data-toggle="pill" href="#songs" role="tab" aria-controls="songs" aria-selected="false">Songs</a>
    </li>
</ul>
<hr />
<div class="tab-content" id="musicContent">
    <div class="tab-pane fade show active" id="albums" role="tabpanel" aria-labelledby="albums-tab">@Html.Partial("Albums", Model)</div>
    <div class="tab-pane fade" id="artists" role="tabpanel" aria-labelledby="artists-tab">@Html.Partial("Artists", Model)</div>
    <div class="tab-pane fade" id="songs" role="tabpanel" aria-labelledby="songs-tab">@Html.Partial("Songs", Model)</div>
</div>

<div class="modal fade" id="modalAddToPlaylist" role="dialog" aria-labelledby="modalAddToPlaylistTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAddToPlaylistTitle">Select playlist</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body m-0 p-0">
                <div class="d-none">
                    <input id="txtPlaylistUrl" type="hidden" value="" />
                    <input id="txtPlaylistItemId" type="hidden" value="" />
                </div>
                <ul class="list-group list-group-flush">
                    @foreach (var playlist in Model.Playlists)
                    {
                        <li id="btnAddToPlaylist" data-playlist-id="@(playlist.Id)" class="list-group-item list-group-item-action">@(playlist.Name)</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {
            $('[data-playlist="add"]').click(function (e) {
                var url = $(e.delegateTarget).attr('data-playlist-url'),
                    id = $(e.delegateTarget).attr('data-item-id');
                $('#btnAddToPlaylist').attr('data-playlist-url', url);
                $('#btnAddToPlaylist').attr('data-item-id', id);
            });
        });

        $(function () {
            $('#btnAddToPlaylist').click(function (e) {
                var url = $(e.delegateTarget).attr('data-playlist-url'),
                    id = $(e.delegateTarget).attr('data-item-id'),
                    playlistId = $(e.delegateTarget).attr('data-playlist-id');

                $.post(url, { playlistId, itemId: id });

                $(e.delegateTarget).attr('data-playlist-url', '');
                $(e.delegateTarget).attr('data-item-id', '');
                $('#modalAddToPlaylist').modal('hide');
            });
        });
    </script>
}