@model MediaLibraryWebUI.Models.MusicViewModel

@{
    ViewBag.Title = string.Empty;
}

<h2>Music</h2>
<div class="nav d-block" id="musicTab" role="tablist">
    <button class="btn btn-outline-secondary active" id="albums-tab" data-toggle="tab" href="#albums" role="tab" aria-controls="albums" aria-selected="true"
            title="Albums">
        <i class="fa fa-compact-disc"></i>
    </button>
    <button class="btn btn-outline-secondary" id="artists-tab" href="#artists" data-toggle="tab" role="tab" aria-controls="artists" aria-selected="false"
            title="Artists">
        <i class="fa fa-user"></i>
    </button>
    <button class="btn btn-outline-secondary" id="songs-tab" href="#songs" data-toggle="tab" role="tab" aria-controls="songs" aria-selected="false"
            title="Songs">
        <i class="fa fa-music"></i>
    </button>
    <div class="float-right">
        <button class="btn btn-outline-secondary" onclick="$.get('@(Url.Action("Refresh", "Music"))')"><i class="fa fa-sync"></i></button>
        <div class="btn-group" role="group" data-toggle="tooltip" title="">
            <button id="btnGroupSongSort" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort by
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupPodcastSort">
                <a class="dropdown-item @(Model.SelectedSongSort == Enums.SongSort.DateAdded ? "active" : string.Empty)" href="@Url.Action("Sort", "Music", new { sort = Enums.SongSort.DateAdded })">Date added</a>
                <a class="dropdown-item @(Model.SelectedSongSort == Enums.SongSort.AtoZ ? "active" : string.Empty)" href="@Url.Action("Sort", "Music", new { sort = Enums.SongSort.AtoZ })">A to Z</a>
                <a class="dropdown-item @(Model.SelectedSongSort == Enums.SongSort.Album ? "active" : string.Empty)" href="@Url.Action("Sort", "Music", new { sort = Enums.SongSort.Album })">Album</a>
                <a class="dropdown-item @(Model.SelectedSongSort == Enums.SongSort.Artist ? "active" : string.Empty)" href="@Url.Action("Sort", "Music", new { sort = Enums.SongSort.Artist })">Artist</a>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="tab-content" id="musicContent">
    <div class="tab-pane fade show active" id="albums" role="tabpanel" aria-labelledby="albums-tab">@Html.Partial("Albums", Model)</div>
    <div class="tab-pane fade" id="artists" role="tabpanel" aria-labelledby="artists-tab">@Html.Partial("Artists", Model)</div>
    <div class="tab-pane fade" id="songs" role="tabpanel" aria-labelledby="songs-tab">@Html.Partial("Songs", Model)</div>
</div>

@Html.Partial("~/Views/Shared/Modals/AddToPlaylistModal.cshtml", Model)

@section scripts {
}