@using MediaLibraryDAL.DbContexts
@model (IGrouping<string, Track> Group, int PlaylistCount)

<ul class="list-group list-group-flush">
    @foreach (var song in Model.Group)
    {
        <li class="list-group-item">
            <div class="media">
                <img class="mr-3 track-img" src="@(Url.Content("~/Content/images/audio.png"))" title="@(song.Title)">
                <div class="media-body d-flex flex-column" style="overflow-x: auto">
                    <h5 class="mt-0" style="flex: 0 0 auto; text-overflow: ellipsis; white-space: nowrap; overflow: hidden">@(song.Title)</h5>
                    <span data-item-id="@(song.Album?.Id)" onclick="albumClicked(this)" style="cursor: pointer; cursor: pointer; flex: 0 0 auto">@(song.Album?.Title ?? "Unknown Album")</span> - <span data-item-id="@(song.Artist?.Id)" onclick="artistClicked(this)" style="cursor: pointer" class="text-muted">@(song.Artist?.Name ?? "Unknown Artist")</span>
                </div>
                <div>
                    <button type="button" class="btn btn-outline-secondary" data-play-id="@(song.Id)" onclick="play(this)"
                            data-tooltip="tooltip" title="Play">
                        <i class="fa fa-play"></i>
                    </button>
                    <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#modalEditSong" data-item-id="@(song.Id)" data-tooltip="tooltip"
                            title="Edit">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button type="button" class="btn btn-outline-secondary" data-playlist-url="@(Url.Action("AddTrackToPlaylist", "Music"))" data-item-id="@(song.Id)"
                            data-toggle="modal" data-target="#modalAddToPlaylist" data-tooltip="tooltip" title="Add to playlist" @(Model.PlaylistCount == 0 ? "disabled=\"disabled\"" : string.Empty)>
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
        </li>
    }
</ul>
