@using MediaLibraryWebUI.Models.Configurations
@using MediaLibraryWebUI.Repositories
@model MediaLibraryWebUI.Models.MediaLibraryViewModel

<div id="@(HtmlControlsRepository.HomeViewId)" class="d-none"></div>
<div id="@(HtmlControlsRepository.PlayerViewId)" class="d-none h-100"></div>
<div id="@(HtmlControlsRepository.MediaViewId)" class="d-none h-100"></div>

@Html.Partial("~/Views/Shared/Configurations/MediaLibraryConfiguration.cshtml", Model.Configuration)

@section scripts {
    <script type="text/javascript" defer="defer">
        function loadView(view, callback) {
            var success = () => {
                if (typeof callback === 'function') /*then*/ callback();
                $(container + ' *[data-tooltip="tooltip"]').tooltip({ trigger: 'hover' });
                hideLoading();
            },
                url = '@Url.Action("Index", "ViewName")',
                container = null;

            collapseNavbar();
            showLoading();
            set@(nameof(MediaLibraryConfiguration))_@(nameof(MediaLibraryConfiguration.SelectedMediaPage))(view);
            disableNavItem(view);
            $('#@(HtmlControlsRepository.MediaViewId), #@(HtmlControlsRepository.PlayerViewId), #@(HtmlControlsRepository.HomeViewId)').find('*[data-tooltip="tooltip"]').tooltip('dispose');
            $('#@(HtmlControlsRepository.PlayerViewId), #@(HtmlControlsRepository.MediaViewId), #@(HtmlControlsRepository.HomeViewId)').addClass('d-none');

            if (view === '@(Enums.MediaPages.Player)') {
                updateMediaLibraryConfiguration(success);
                $(container = '#@(HtmlControlsRepository.PlayerViewId)').removeClass('d-none');
            } else if (view === '@(Enums.MediaPages.Home)') {
                $(container = '#@(HtmlControlsRepository.HomeViewId)').removeClass('d-none');
                update@(nameof(MediaLibraryConfiguration))(() => $('#@(HtmlControlsRepository.HomeViewId)').load(url.replace("ViewName", view), success));
            } else {
                update@(nameof(MediaLibraryConfiguration))(() => $('#@(HtmlControlsRepository.MediaViewId)').load(url.replace("ViewName", view), success));
                $(container = '#@(HtmlControlsRepository.MediaViewId)').removeClass('d-none');
            }
        }

        $(function () {
            showLoading();
            $('#@(HtmlControlsRepository.PlayerViewId)').load('@Url.Action("Index", "Player")', () => {
                hideLoading();
                loadView('@(Model.Configuration.SelectedMediaPage.ToString())');
            });
        });
    </script>
}

