@model MediaLibraryWebUI.Models.MediaLibraryViewModel

<div id="homeView" class="d-none"></div>
<div id="playerView" class="d-none h-100"></div>
<div id="divView" class="d-none h-100"></div>

@Html.Partial("~/Views/Shared/Configurations/MediaLibraryConfiguration.cshtml", Model.Configuration)

@section scripts {
    <script type="text/javascript" defer="defer">
        function loadView(view, callback) {
            var success = () => {
                if (typeof callback === 'function') /*then*/ callback();
                if (view !== '@(Enums.MediaPages.Music)') /*then*/ $('#divView *[data-tooltip="tooltip"]').tooltip({ trigger: 'hover' });
                hideLoading();
            },
                url = '@Url.Action("Index", "ViewName")';

            collapseNavbar();
            showLoading();
            updateSelectedMediaPage(view);
            disableNavItem(view);
            $('#divView *[data-tooltip="tooltip"]').tooltip('dispose');

            if (view === '@(Enums.MediaPages.Player)') {
                updateMediaLibraryConfiguration(() => reload(success));
                $('#divView, #homeView').addClass('d-none');
                $('#playerView').removeClass('d-none');
            } else if (view === '@(Enums.MediaPages.Home)') {
                $('#divView, #playerView').addClass('d-none');
                $('#homeView').removeClass('d-none');
                updateMediaLibraryConfiguration(() => $('#homeView').load(url.replace("ViewName", view), success));
            } else {
                updateMediaLibraryConfiguration(() => $('#divView').load(url.replace("ViewName", view), success));
                $('#playerView, #homeView').addClass('d-none');
                $('#divView').removeClass('d-none');
            }
        }

        $(function () {
            showLoading();
            $('#playerView').load('@Url.Action("Index", "Player")', () => {
                hideLoading();
                loadView('@(Model.Configuration.SelectedMediaPage.ToString())', () => setInitialPlayerUrl());
            });
        });
    </script>
}

