@model MediaLibraryWebUI.Models.MediaLibraryViewModel

@{
    ViewBag.Title = string.Empty;
}

<div id="playerView" class="d-none"></div>
<div id="divView" class="d-none"></div>

@Html.Partial("~/Views/Shared/Configurations/MediaLibraryConfiguration.cshtml", Model.Configuration)

@section scripts {
    <script type="text/javascript" defer="defer">
        function loadView(view, callback) {
            var success = () => {
                hideLoading();
                if (typeof callback === 'function') /*then*/ callback();
            },
                url = '@Url.Action("Index", "ViewName")';

            $('#playerView').addClass('d-none');
            $('#divView').addClass('d-none');
            updateSelectedMediaPage(view);

            if (view === '@(Enums.MediaPages.Player)') {
                $('#playerView').removeClass('d-none');
                updateMediaLibraryConfiguration(() => reload(success));
            } else {
                $('#divView').removeClass('d-none');
                showLoading();
                updateMediaLibraryConfiguration(() => $('#divView').load(url.replace("ViewName", view), success));
            }
        }

        $('#playerView').load('@Url.Action("Index", "Player")');
        loadView('@(Model.Configuration.SelectedMediaPage.ToString())');
    </script>
}

