<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KOW Moosic @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popperjs")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="d-flex container flex-column" style="position: relative; height: 100vh; max-height: 100vh">
        <div style="flex: 0 0 auto; padding-top: 10px">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="javascript: void(0)" onclick="loadView('@(nameof(Enums.MediaPages.Home))')">
                    <img src="@(Url.Content("~/Content/images/logo.png"))" title="KOW Moosic" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="javascript: void(0)" onclick="loadView('@(nameof(Enums.MediaPages.Music))')">@(nameof(Enums.MediaPages.Music))</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript: void(0)" onclick="loadView('@(nameof(Enums.MediaPages.Podcast))')">@(nameof(Enums.MediaPages.Podcast))s</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript: void(0)" onclick="loadView('@(nameof(Enums.MediaPages.Television))')">@(nameof(Enums.MediaPages.Television))</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript: void(0)" onclick="loadView('@(nameof(Enums.MediaPages.Playlist))')">@(nameof(Enums.MediaPages.Playlist))s</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript: void(0)" onclick="loadView('@(nameof(Enums.MediaPages.Player))')">@(Model.NowPlaying)</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="body-content" style="flex: 1 1 auto; overflow-y: auto">
            <br />
            @RenderBody()
        </div>
        <div style="flex: 0 0 auto">
            <hr />
            <footer>
                <p class="text-center">&copy; @DateTime.Now.Year - Kendall O. Williams</p>
            </footer>
        </div>
    </div>

    @Html.Partial("~/Views/Shared/Modals/LoadingModal.cshtml")

    <script type="text/javascript" defer="defer">
        function play(btn) {
            var $playButtons = $('button[data-play-id]'),
                $playGroups = $('div[data-play-ids]'),
                success = () => {
                    loadView('@(nameof(Enums.MediaPages.Player))', () => _play());
                    hideLoading();
                },
                mediaType = $(btn).attr('data-media-type') || '@(nameof(Enums.MediaTypes.Song))',
                data = new FormData(),
                $playData = null;

            showLoading();

            if ($playGroups.length > 0) {
                $playData = $playGroups.map((index, element) => ($(element).attr('data-play-ids').split(',')))
                    .map((index, element) => ({
                        Id: index,
                        Value: parseInt(element),
                        IsSelected: $(btn).attr('data-play-id') === element
                    })
                );
            } else {
                $playData = $playButtons.map((index, _btn) => ({
                    Id: index,
                    Value: parseInt($(_btn).attr('data-play-id')),
                    IsSelected: btn.isSameNode(_btn)
                }));
            }

            setSelectedMediaType(mediaType);
            data.append('mediaType', mediaType);
            data.append('itemsJSON', JSON.stringify($playData.get()));

            $.ajax({
                type: 'POST',
                url: '@Url.Action("UpdateNowPlaying", "Player")',
                data: data,
                contentType: false,
                success: success,
                processData: false,
                traditional: true
            });
        }

        $(function () {
            $('[data-toggle="popover"]').popover();
            $('[data-tooltip="tooltip"]').tooltip({ trigger: 'hover' });
        });

        function showLoading() {
            $('#loadingModal').modal('show');
        }

        function hideLoading() {
            $('#loadingModal').modal('hide');
        }
    </script>
    @RenderSection("scripts", false)
</body>
</html>