<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KOW Moosic @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popperjs")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="@(Url.Content("~/Content/images/logo.png"))" title="KOW Moosic" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        @Html.ActionLink("Music", "Index", "Music", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item active">
                        @Html.ActionLink("Podcasts", "Index", "Podcast", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item active">
                        @Html.ActionLink("Playlists", "Index", "Playlist", new { area = "" }, new { @class = "nav-link" })
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <br />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year - Kendall O. Williams</p>
        </footer>
    </div>

    @RenderSection("scripts", false)

    <script type="text/javascript" defer="defer">
        var playerPopup = null;

        $(function () {
            // causing delay when loading music view
            // $('[data-toggle="tooltip"]').tooltip();
        });

        $(function () {
            $('[data-toggle="popover"]').popover();
        });

        function play(_btn) {
            var $playButtons = $('button[data-play-url]');
            var $playData = $playButtons.map((index, btn) => ({
                    index: index,
                    url: $(btn).attr("data-play-url"),
                    isPlaying: btn.isSameNode(_btn)
                }));

            if (!playerPopup || playerPopup.closed) {
                playerPopup = window.open('@Url.Action("Index", "Player")', '@(Model.MusicPlayerId)');
            }

            if (playerPopup && !playerPopup.closed) {
                playerPopup.postMessage($.makeArray($playData));
            } else {
                alert("No popup");
            }
        }

        $(function () {
            $('[data-delete="enabled"]').click(function (e) {
                var url = $(e.delegateTarget).attr('data-delete-action');
                var $button = $('#btnDeleteItem');

                $button.prop('href', url);
                $('#modalDeleteItem').modal('show');
            });
        });

        window.addEventListener("message", receiveMessage, false);

        function receiveMessage(event) {
            if (event.origin !== "http://localhost:51124")
                return;
        }
    </script>
</body>
</html>