<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="@(Url.Content("~/Content/images/logo.png"))" title="KOW Moosic" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        @Html.ActionLink("Music", "Index", "Music", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item active">
                        @Html.ActionLink("Podcasts", "Index", "Podcast", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item active">
                        @Html.ActionLink("Playlists", "Index", "Playlist", new { area = "" }, new { @class = "nav-link" })
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <br />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year - Kendall O. Williams</p>
        </footer>
    </div>

    <div class="d-none">
        <audio id="@(Model?.MusicPlayerId)" autoplay="autoplay" preload="auto" />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popperjs")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", false)

    <script type="text/javascript">
        $(function () {
            // causing delay when loading music view
            //$('[data-toggle="tooltip"]').tooltip();
        });

        $(function () {
            $('[data-toggle="popover"]').popover();
        });

        function play(btn) {
            $("#@(Model?.MusicPlayerId)").prop("src", $(btn).attr("data-play-url"));
            $("#@(Model?.MusicPlayerId)").trigger("play");
        }

        $(function () {
            $('[data-delete="enabled"]').click(function (e) {
                var url = $(e.delegateTarget).attr('data-delete-action');
                var $button = $('#btnDeleteItem');

                $button.prop('href', url);
                $('#modalDeleteItem').modal('show');
            });
        });

        $(function () {
            $('[data-playlist="add"]').click(function (e) {
                var url = $(e.delegateTarget).attr('data-playlist-url'),
                    id = $(e.delegateTarget).attr('data-item-id');
                $('#btnAddToPlaylist').attr('data-playlist-url', url);
                $('#btnAddToPlaylist').attr('data-item-id', id);
            });
        });

        $(function () {
            $('#btnAddToPlaylist').click(function (e) {
                var url = $(e.delegateTarget).attr('data-playlist-url'),
                    id = $(e.delegateTarget).attr('data-item-id'),
                    playlistId = $(e.delegateTarget).attr('data-playlist-id');

                $.post(url, { playlistId, itemId: id });

                $(e.delegateTarget).attr('data-playlist-url', '');
                $(e.delegateTarget).attr('data-item-id', '');
                $('#modalAddToPlaylist').modal('hide');
            });
        });
    </script>
</body>
</html>