<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KOW Moosic @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popperjs")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jplayer")
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year - Kendall O. Williams</p>
        </footer>
    </div>

    @RenderSection("scripts", false)

    <script type="text/javascript" defer="defer">
        window.addEventListener("message", receiveMessage, false);

        function receiveMessage(event) {
            if (event.origin !== '@(Request.Url.GetLeftPart(UriPartial.Authority))')
                return;

            if (event.data === '@(nameof(Enums.PlayerMessages.Reload))') {
                if (reload && typeof (reload) === 'function') {
                    reload();
                }
            }
        }

        window.onload = () => window.opener.postMessage('loaded');
    </script>
</body>
</html>

