@model MediaLibraryWebUI.Models.PlayerViewModel

@{
    ViewBag.Title = "Player";
    Layout = "~/Views/Shared/_PlayerLayout.cshtml";
}

<div>
    <audio id="@(Model.MusicPlayerId)" autoplay="autoplay" preload="auto" controls="controls" />
</div>
<br />
<div class="card">
    <div class="card-header">
        @(Model.SelectedPlaylist.Name)
    </div>
    <ul class="list-group list-group-flush">
        @if (Model.Configuration.SelectedMediaType == Enums.MediaType.Song)
        {
            foreach (var item in Model.SelectedPlaylist.PlaylistTracks.Select((item, index) => new { item.Track, Index = index }))
            {
                <li class="list-group-item list-group-item-action @(item.Index == Model.Configuration.CurrentItemIndex ? "active" : string.Empty)" data-play-url="@Url.Action("File", "Music", new { item.Track.Id })" onclick="play(this)"
                    data-play-index="@(item.Index)">@(item.Track.Title)</li>
            }
        }
        else if (Model.Configuration.SelectedMediaType == Enums.MediaType.Podcast)
        {
            foreach (var item in Model.SelectedPlaylist.PlaylistPodcastItems.Select((item, index) => new { item.PodcastItem, Index = index }))
            {
                <li class="list-group-item list-group-item-action @(item.Index == Model.Configuration.CurrentItemIndex ? "active" : string.Empty)" data-play-url="@Url.Action("File", "Podcast", new { item.PodcastItem.Id })" onclick="play(this)"
                    data-play-index="@(item.Index)">@(item.PodcastItem.Title)</li>
            }
        }
    </ul>
</div>

@Html.Partial("~/Views/Shared/Configurations/PlayerConfiguration.cshtml", Model.Configuration)

@section scripts {
    <script type="text/javascript" defer="defer">
        var $player = $('#@(Model.MusicPlayerId)');

        function play(item) {
            var $item = $(item),
                url = $item.attr('data-play-url'),
                index = $item.attr('data-play-index');

            $('@($"#txt{nameof(Model.Configuration.CurrentItemIndex)}")').val(index);
            updateConfiguration();
            $player.prop('src', url);
            $player.trigger('play');
        }
    </script>
}

