@model MediaLibraryWebUI.Models.PlayerViewModel

@{
    ViewBag.Title = "Player";
}

<div class="d-flex w-100">
    <div style="flex: 0 0 50%; padding: 0px 5px 0px 5px">
        <audio id="@(Model.MusicPlayerId)" class="@(Model.Configuration.SelectedMediaType == Enums.MediaTypes.Television ? "d-none" : string.Empty)"
               preload="auto" controls="controls" />
        <video id="@(Model.VideoPlayerId)" class="@(Model.Configuration.SelectedMediaType == Enums.MediaTypes.Television ? string.Empty : "d-none")"
               preload="auto" controls="controls" />
    </div>
    <div class="card" style="flex: 0 0 50%">
        <div class="card-header">Now Playing</div>
        <div id="playerItems"></div>
    </div>
</div>

@Html.Partial("~/Views/Shared/Configurations/PlayerConfiguration.cshtml", Model.Configuration)

<script type="text/javascript" defer="defer">
    function _play(item) {
        var $audioPlayer = $('#@(Model.MusicPlayerId)'),
            $videoPlayer = $('#@(Model.VideoPlayerId)'),
            $player = getSelectedMediaType() === '@(Enums.MediaTypes.Television)' ? $videoPlayer : $audioPlayer;

        $audioPlayer.addClass('d-none');
        $videoPlayer.addClass('d-none');
        $player.removeClass('d-none');
        $audioPlayer.prop('src', '');
        $videoPlayer.prop('src', '');

        if (item) {
            var $item = $(item),
                url = $item.attr('data-play-url'),
                index = $item.attr('data-play-index');

            $('li[data-play-index].list-group-item').removeClass('active');
            $item.addClass('active');
            setCurrentItemIndex(index);
            updatePlayerConfiguration(function () {
                $player.prop('src', url);
                $player.trigger('play');
            });
        } else if ($('li[data-play-index].active').length === 1) {
            _play($('li[data-play-index].active')[0]);
        }
    }

    function initPlayer() {
        $('#@(Model.MusicPlayerId)').on('ended', function (evt) {
            playNext();
        });

        $('#@(Model.VideoPlayerId)').on('ended', function (evt) {
            playNext();
        });
    }

    function playNext() {
        var nextIndex = getCurrentItemIndex() + 1,
            $item,
            repeat = getRepeat(),
            $audioPlayer = $('#@(Model.MusicPlayerId)'),
            $videoPlayer = $('#@(Model.VideoPlayerId)'),
            $player = getSelectedMediaType() === '@(Enums.MediaTypes.Television)' ? $videoPlayer : $audioPlayer;

        if (repeat === '@(nameof(Enums.RepeatTypes.RepeatOne))') {
            $player.trigger('play');
        } else if (repeat === '@(nameof(Enums.RepeatTypes.RepeatAll))') {
            if (nextIndex === $('li[data-play-index]').length) {
                $item = $('li[data-play-index="0"]');
                _play($item[0]);
            } else {
                $item = $('li[data-play-index="' + nextIndex + '"]');
                _play($item[0]);
            }
        } else {
            $item = $('li[data-play-index=' + nextIndex + ']');

            if (nextIndex !== $('li[data-play-index]').length) {
                _play($item[0]);
            }
        }
    }

    function playPrevious() {
        var previousIndex = getCurrentItemIndex() - 1,
            $item = $('li[data-play-index="' + previousIndex + '"]');

        _play($item[0]);
    }

    initPlayer();
</script>

