@using MediaLibraryWebUI.Models.Configurations
@using MediaLibraryWebUI.Repositories
@model MediaLibraryWebUI.Models.PlayerViewModel

@{
    ViewBag.Title = "Player";
}

<div class="w-100 h-100">
    <div class="card w-100 h-100" style="">
        <div class="card-header" style="flex: 0 0 auto">Now Playing</div>
        <div class="card-body" style="flex: 1 0 auto; overflow-y: auto">
            <div id="@(HtmlControlsRepository.PlayerItemsContainerId)" class="@(Model.Configuration.SelectedPlayerPage == Enums.PlayerPages.Index ? string.Empty : "d-none")" style="flex: 1 0 auto"></div>
            <div id="@(HtmlControlsRepository.PlayerAudioContainerId)" style="flex: 1 0 auto" class="@(Model.Configuration.SelectedPlayerPage == Enums.PlayerPages.Audio ? string.Empty : "d-none")">
                <audio id="@(HtmlControlsRepository.MusicPlayerId)" class="w-100"
                       preload="auto" controls="controls" style="" data-player-page="@(Enums.PlayerPages.Audio)" />
            </div>
            <div id="@(HtmlControlsRepository.PlayerVideoContainerId)" style="flex: 1 0 auto" class="@(Model.Configuration.SelectedPlayerPage == Enums.PlayerPages.Video ? string.Empty : "d-none")">
                <video id="@(HtmlControlsRepository.VideoPlayerId)" class="w-100"
                       preload="auto" controls="controls" style="" data-player-page="@(Enums.PlayerPages.Video)" />
            </div>
        </div>
        <div class="card-footer" style="flex: 0 0 auto">
            <button id="btnTogglePlaylist" class="btn btn-sm btn-outline-secondary @(Model.Configuration.SelectedPlayerPage == Enums.PlayerPages.Index ? "active" : string.Empty)"
                    data-tooltip="tooltip" title="Show/hide playlist" onclick="togglePlaylist(this)">
                <i class="fa fa-list-ul"></i>
            </button>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Shared/Configurations/PlayerConfiguration.cshtml", Model.Configuration)

<script type="text/javascript" defer="defer">
    function _play(item) {
        var $players = $('#@(HtmlControlsRepository.VideoPlayerId), #@(HtmlControlsRepository.MusicPlayerId)'),
            $containers = $('#@(HtmlControlsRepository.PlayerItemsContainerId), #@(HtmlControlsRepository.PlayerAudioContainerId), #@(HtmlControlsRepository.PlayerVideoContainerId)'),
            $player = $(getPlayer());

        $players.prop('src', '').attr('data-item-id', '');
        $containers.addClass('d-none');
        $('#@(HtmlControlsRepository.HeaderPlayButtonId)').addClass('d-none');
        $player.parent().removeClass('d-none');
        $('#@(HtmlControlsRepository.HeaderPauseButtonId)').removeClass('d-none');

        if (item) {
            var $item = $(item),
                url = $item.attr('data-play-url'),
                index = $item.attr('data-play-index'),
                id = $item.attr('data-item-id');

            $('li[data-play-index].list-group-item').removeClass('active');
            set@(nameof(PlayerConfiguration))_@(nameof(PlayerConfiguration.CurrentItemIndex))(index);
            update@(nameof(PlayerConfiguration))(function () {
                $item.addClass('active');
                $player.attr('data-item-id', id);
                $player.prop('src', url).trigger('play');
                updateScrollTop();
                enableDisablePreviousNext();
            });
        } else if ($('li[data-play-index].active').length === 1) {
            _play($('li[data-play-index].active')[0]);
        }
    }

    function initPlayer() {
        var updatePlayCount = (player, callback) => {
                var id = $(player).attr('data-item-id'),
                    success = typeof (callback) === 'function' ? callback : () => null;

                $.post('@Url.Action("UpdatePlayCount", "Player")', { mediaType: get@(nameof(PlayerConfiguration))_@(nameof(PlayerConfiguration.SelectedMediaType))(), id: id }, success);
            },
            shuffle = get@(nameof(PlayerConfiguration))_@(nameof(PlayerConfiguration.Shuffle))().toLowerCase() === 'true';

        $('#@(HtmlControlsRepository.MusicPlayerId), #@(HtmlControlsRepository.VideoPlayerId)').on('ended', function (e) {
            updatePlayCount(this, playNext);
        });

        $('#@(HtmlControlsRepository.MusicPlayerId), #@(HtmlControlsRepository.VideoPlayerId)').on('play', function (e) {
            $('#@(HtmlControlsRepository.HeaderPlayButtonId)').addClass('d-none');
            $('#@(HtmlControlsRepository.HeaderPauseButtonId)').removeClass('d-none');
        });

        $('#@(HtmlControlsRepository.MusicPlayerId), #@(HtmlControlsRepository.VideoPlayerId)').on('pause', function (e) {
            $('#@(HtmlControlsRepository.HeaderPauseButtonId)').addClass('d-none');
            $('#@(HtmlControlsRepository.HeaderPlayButtonId)').removeClass('d-none');
        });

        $('#@(HtmlControlsRepository.MusicPlayerId), #@(HtmlControlsRepository.VideoPlayerId)').on('error', function (e) {
        });

        $('#@(HtmlControlsRepository.HeaderNextButtonId)').on('click', () => playNext());
        $('#@(HtmlControlsRepository.HeaderPreviousButtonId)').on('click', () => playPrevious());
        $('#@(HtmlControlsRepository.HeaderPauseButtonId)').on('click', () => $(getPlayer()).trigger('pause'));
        $('#@(HtmlControlsRepository.HeaderPlayButtonId)').on('click', () => $(getPlayer()).trigger('play'));

        $('#@(HtmlControlsRepository.HeaderShuffleButtonId)').addClass(shuffle ? 'active' : '')

        $('#@(HtmlControlsRepository.HeaderRepeatButtonId)').on('click', () => {
            var repeat = get@(nameof(PlayerConfiguration))_@(nameof(PlayerConfiguration.Repeat))();

            if (repeat === '@nameof(Enums.RepeatTypes.None)') {
                repeat = '@nameof(Enums.RepeatTypes.RepeatOne)';
            } else if (repeat === '@nameof(Enums.RepeatTypes.RepeatOne)') {
                repeat = '@nameof(Enums.RepeatTypes.RepeatAll)';
            } else if (repeat === '@nameof(Enums.RepeatTypes.RepeatAll)') {
                repeat = '@nameof(Enums.RepeatTypes.None)';
            }

            set@(nameof(PlayerConfiguration))_@(nameof(PlayerConfiguration.Repeat))(repeat);
            update@(nameof(PlayerConfiguration))();
        });

        $('#@(HtmlControlsRepository.HeaderShuffleButtonId)').on('click', function() {
            var shuffle = get@(nameof(PlayerConfiguration))_@(nameof(PlayerConfiguration.Shuffle))().toLowerCase() === 'true',
                $btn = $(this);

            set@(nameof(PlayerConfiguration))_@(nameof(PlayerConfiguration.Shuffle))(!shuffle);
            update@(nameof(PlayerConfiguration))(() => {
                if (!shuffle) {
                    $btn.addClass('active');
                } else {
                    $btn.removeClass('active');
                }
            });
        });

        reload(() => enableDisablePreviousNext());
    }

    function playNext() {
        var shuffle = get@(nameof(PlayerConfiguration))_@(nameof(PlayerConfiguration.Shuffle))().toLowerCase() === 'true',
            nextIndex = shuffle ? getRandomInteger(0, $('li[data-play-index]').length - 1) :
                                  parseInt(get@(nameof(PlayerConfiguration))_@(nameof(PlayerConfiguration.CurrentItemIndex))()) + 1,
            $item = null,
            repeat = get@(nameof(PlayerConfiguration))_@(nameof(PlayerConfiguration.Repeat))();

        if (repeat === '@(nameof(Enums.RepeatTypes.RepeatOne))') {
            _play();
        } else if (repeat === '@(nameof(Enums.RepeatTypes.RepeatAll))') {
            if (nextIndex === $('li[data-play-index]').length) {
                $item = $('li[data-play-index="0"]');
                _play($item[0]);
            } else {
                $item = $('li[data-play-index="' + nextIndex + '"]');
                _play($item[0]);
            }
        } else {
            $item = $('li[data-play-index=' + nextIndex + ']');

            if (nextIndex !== $('li[data-play-index]').length) {
                _play($item[0]);
            }
        }
    }

    function canPlayNext() {
        return parseInt($('li.active').attr('data-play-index')) < ($('li[data-play-index]').length - 1);
    }

    function canPlayPrevious() {
        return true;
    }

    function enableDisablePreviousNext() {
        $('#@(HtmlControlsRepository.HeaderNextButtonId)').prop('disabled', !canPlayNext());
        $('#@(HtmlControlsRepository.HeaderPreviousButtonId)').prop('disabled', !canPlayPrevious());
    }

    function playPrevious() {
        var shuffle = get@(nameof(PlayerConfiguration))_@(nameof(PlayerConfiguration.Shuffle))().toLowerCase() === 'true',
            previousIndex = shuffle ? getRandomInteger(0, $('li[data-play-index]').length - 1) :
                                      parseInt(get@(nameof(PlayerConfiguration))_@(nameof(PlayerConfiguration.CurrentItemIndex))()) - 1,
            $item = $('li[data-play-index="' + previousIndex + '"]');

        _play($item[0]);
    }

    function reload(callback) {
        var success = () => {
            setInitialPlayerUrl();
            updateScrollTop();
            $('#@(HtmlControlsRepository.PlayerItemsContainerId) *[data-tooltip="tooltip"]').tooltip({ trigger: 'hover' });
            if (typeof callback === 'function') /*then*/ callback();
        };

        $('#@(HtmlControlsRepository.PlayerItemsContainerId)').html('');
        $('#@(HtmlControlsRepository.PlayerItemsContainerId)').load('@(Url.Action("GetPlayerItems", "Player"))', success);
    }

    function updateScrollTop() {
        var $item = $('li.active');

        if ($item.length > 0) {
            $('#playerItems').scrollTop($('#@(HtmlControlsRepository.PlayerItemsContainerId)').scrollTop() - $item.position().top * -1);
        }
    }

    function setInitialPlayerUrl() {
        var url = $('li.active').attr('data-play-url'),
            id = $('li.active').attr('data-item-id');

        $(getPlayer()).attr('data-item-id', id).prop('src', url);
    }

    function getPlayer() {
        var $audioPlayer = $('#@(HtmlControlsRepository.MusicPlayerId)'),
            $videoPlayer = $('#@(HtmlControlsRepository.VideoPlayerId)'),
            selectedMediaType = get@(nameof(PlayerConfiguration))_@(nameof(PlayerConfiguration.SelectedMediaType))();

        return selectedMediaType === '@(Enums.MediaTypes.Television)' ? $videoPlayer[0] : $audioPlayer[0];
    }

    function togglePlaylist(btn) {
        var page = get@(nameof(PlayerConfiguration))_@(nameof(PlayerConfiguration.SelectedPlayerPage))(),
            $player = $(getPlayer()),
            $playerItems = $('#@(HtmlControlsRepository.PlayerItemsContainerId)'),
            $btn = $(btn);

        if (page === '@(nameof(Enums.PlayerPages.Index))') {
            set@(nameof(PlayerConfiguration))_@(nameof(PlayerConfiguration.SelectedPlayerPage))($player.attr('data-player-page'));
            $player.parent().removeClass('d-none');
            $playerItems.addClass('d-none');
            $btn.removeClass('active');
        } else {
            set@(nameof(PlayerConfiguration))_@(nameof(PlayerConfiguration.SelectedPlayerPage))('@(nameof(Enums.PlayerPages.Index))');
            $player.parent().addClass('d-none');
            $playerItems.removeClass('d-none');
            $btn.addClass('active');
        }
        update@(nameof(PlayerConfiguration))();
    }

    initPlayer();
</script>

