@model MediaLibraryWebUI.Models.Configurations.PlaylistConfiguration

<div class="d-none">
    @Html.Hidden(nameof(Model.SelectedPlaylistSort), Model.SelectedPlaylistSort, new { id = $"txt{nameof(Model.SelectedPlaylistSort)}" });
    @Html.Hidden(nameof(Model.SelectedPlaylistId), Model.SelectedPlaylistId, new { id = $"txt{nameof(Model.SelectedPlaylistId)}" });
    @Html.Hidden(nameof(Model.SelectedPlaylistPage), Model.SelectedPlaylistPage, new { id = $"txt{nameof(Model.SelectedPlaylistPage)}" });
</div>

<script type="text/javascript" defer="defer">
    function updateConfiguration(success) {
        $.post('@Url.Action("UpdateConfiguration", "Playlist")', getPlaylistConfigurationData(), success);
    }

    function getPlaylistConfigurationData() {
        return '@(nameof(Model.SelectedPlaylistSort))=' + $('#txt@(nameof(Model.SelectedPlaylistSort))').val() + '&' +
                '@(nameof(Model.SelectedPlaylistId))=' + $('#txt@(nameof(Model.SelectedPlaylistId))').val() + '&' +
                '@(nameof(Model.SelectedPlaylistPage))=' + $('#txt@(nameof(Model.SelectedPlaylistPage))').val();
    }
</script>