@model MediaLibraryWebUI.Models.Configurations.PodcastConfiguration

<div class="d-none">
    @Html.Hidden(nameof(Model.SelectedPodcastSort), Model.SelectedPodcastSort, new { id = $"txt{nameof(Model.SelectedPodcastSort)}" });
    @Html.Hidden(nameof(Model.SelectedPodcastId), Model.SelectedPodcastId, new { id = $"txt{nameof(Model.SelectedPodcastId)}" });
    @Html.Hidden(nameof(Model.SelectedPodcastPage), Model.SelectedPodcastPage, new { id = $"txt{nameof(Model.SelectedPodcastPage)}" });
    @Html.Hidden(nameof(Model.ScrollTop), Model.ScrollTop, new { id = $"txt{nameof(Enums.MediaPages.Podcast)}{nameof(Model.ScrollTop)}" });
</div>

<script type="text/javascript" defer="defer">
    function updateConfiguration(success) {
        $.post('@Url.Action("UpdateConfiguration", "Podcast")', getPodcastConfigurationData(), success);
    }

    function getPodcastConfigurationData() {
        return '@(nameof(Model.SelectedPodcastSort))=' + $('#txt@(nameof(Model.SelectedPodcastSort))').val() + '&' +
               '@(nameof(Model.ScrollTop))=' + $('#txt@(nameof(Model.ScrollTop))').val() + '&' +
               '@(nameof(Model.SelectedPodcastPage))=' + $('#txt@(nameof(Enums.MediaPages.Podcast))@(nameof(Model.SelectedPodcastPage))').val();
    }

    function get@(nameof(Enums.MediaPages.Podcast))ScrollTop() {
        return parseInt($('#txt@(nameof(Enums.MediaPages.Podcast))@(nameof(Model.ScrollTop))').val());
    }

    function update@(nameof(Enums.MediaPages.Podcast))ScrollTop(top) {
        $('#txt@(nameof(Enums.MediaPages.Podcast))@(nameof(Model.ScrollTop))').val(top);
    }
</script>