@using MediaLibraryWebUI.Models.Configurations
@model MediaLibraryWebUI.Models.TelevisionViewModel

<div class="h-100 d-flex flex-column">
    <div style="flex: 0 0 auto">
        <h2>@(Model.SelectedSeries.Title)</h2>
        <div>
            <button class="btn btn-outline-secondary" onclick="backClicked()" data-tooltip="tooltip" title="Go back"><i class="fa fa-arrow-circle-left"></i></button>
            <button class="btn btn-outline-secondary" onclick="getSeasonPlaylist()" data-tooltip="tooltip" title="Download M3U playlist"><i class="fa fa-download"></i></button>
        </div>
        <hr />
    </div>
    <div class="card" style="flex: 1 1 auto; overflow-y: auto">
        <div class="card-header" id="heading-series-@(Model.SelectedSeries.Id)" style="flex: 0 0 auto">
            <ul class="pagination justify-content-center m-0">
                <li class="page-item"><a class="page-link" href="javascript: void(0);" data-season-id="-">&laquo;</a></li>
                @foreach (var season in Model.SelectedSeries.Episodes.Select(episode => episode.Season).Distinct().OrderBy(season => season))
                {
                    <li class="page-item"><a class="page-link" href="javascript: void(0);" data-season-id="@(season)">@(season)</a></li>
                }
                <li class="page-item"><a class="page-link" href="javascript: void(0);" data-season-id="+">&raquo;</a></li>
            </ul>
        </div>
        <div class="card-body m-0 p-0" id="seasonView" style="flex: 1 1 auto; overflow-y: auto"></div>
    </div>
</div>

@Html.Partial("~/Views/Shared/Configurations/TelevisionConfiguration.cshtml", Model.Configuration)

<script type="text/javascript" defer="defer">
    function backClicked() {
        showLoading();
        set@(nameof(TelevisionConfiguration))_@(nameof(TelevisionConfiguration.SelectedTelevisionPage))('@(nameof(Enums.TelevisionPages.Index))');
        update@(nameof(TelevisionConfiguration))(() => loadView('@(nameof(Enums.MediaPages.Television))'));
    }

    function loadSeasonView(item) {
        var success = () => {
                $(item).parent('li.page-item:first').addClass('active');
                $('#seasonView *[data-tooltip="tooltip"]').tooltip({ trigger: "hover" });
                hideLoading();
            },
            series = @(Model.SelectedSeries.Id),
            season = $(item).attr('data-season-id');

        if (item) {
            showLoading();
            set@(nameof(TelevisionConfiguration))_@(nameof(TelevisionConfiguration.SelectedSeason))(season);
            $('#seasonView *[data-tooltip="tooltip"]').tooltip('dispose');
            $('#seasonView').load('@Url.Action("GetSeason", "Television")', { series: series, season: season }, success);
        }
    }

    $('[data-season-id]').on('click', function () {
        var id = $(this).attr('data-season-id');

        if (id === '-' && (getSelectedSeason() - 1) > 0) {
            $('[data-season-id="' + (getSelectedSeason() - 1) + '"]').trigger('click');
        } else if (id === '+' && (getSelectedSeason() + 1) > 0) {
            $('[data-season-id="' + (getSelectedSeason() + 1) + '"]').trigger('click');
        } else if (parseInt(id) > 0) {
            $('li.page-item').removeClass('active');
            loadSeasonView(this);
        }
    });

    function getSeasonPlaylist() {
        window.location = '@Url.Action("GetM3UPlaylist", "Television")?seriesId=' + getSelectedSeriesId() + '&season=' + getSelectedSeason();
    }

    $('[data-season-id="1"]').trigger('click');
</script>
